/* setting variables */
:root{
    --grey: #494B49;
    --orange: #cf7500;
    --yellow: #f0a500;

    --margin-left: 200px;
}

@font-face{
    font-family: OldSansBlack;
    src: url(OldSansBlack.ttf);
}

body{

    display:flex;
    flex-direction:column;
    min-height: 100vh;
        
}


.nav-options a:link{
    color:white;
    text-decoration:none;
}
 
.nav-options a:visited{
    color:white;
} 

 .nav-options a:hover{
    background-color: var(--yellow);
}

/* paretn for all header and nav */
header{

    z-index: 1;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    padding-right: 5px var(--yellow);
    z-index:1;
    width: 200px;
    height: 100%;
    
}

.heading-logo{  

    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: OldSansBlack;
    font-size: 45px;
    color: var(--orange);
    width:var(--margin-left);
    height: 200px;
    background-color:var(--grey);
    box-shadow: inset -2px , 5px darkgray;

}

.nav-options a{

    transition: background-color 1s;

}

.nav-options{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: OldSansBlack;
    font-size: 20px;
    color:white;
    width:200px;
    flex-grow:1;    
    background-color: var(--grey);

}

/* parent for everthing under about me */
.about-me{


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:space-around;
    height: 75vh;
    margin-left:var(--margin-left);
    background-color: lightpink;

}


/* parent for everything under main */
.my-work{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:space-around; 
    margin-left:var(--margin-left);
    background-color: lightgreen;

}



.feature-project{

    display:inline-flex;
    height:400px;
    width: 900px;
    margin: 50px;
    border-radius:10px;
    background-color: lightcoral;


}

.projects{

    display: inline-flex;
    width:400px;
    height: 400px;
    margin: 50px;
    border-radius:10px;
    background-color: lightcoral;

}

/* parent for everthing under contact infor section */
.contact-info{


    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content:space-around;
    height: 25vh;
    margin-left:var(--margin-left);
    background-color: lightskyblue;
}



/* sets the look when the website is viewed on tablet */
@media screen and (max-width: 992px){


}


/* sets the look when the website is viewed on phone */
@media screen and (max-width: 768px){

    


}